 .attribution { font-size: 14px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
     body{
       background-image:url('images/pattern-background-desktop.svg');
      background-repeat:no-repeat;
      font-family:"Red Hat Display",sans-serif;
      background-color:hsl(225, 100%, 94%);
      height:100vh;
    }
    #main{
     margin-top: 180px;
     margin-left: 500px;
      width: 350px;
      height:570px;
      border-radius: 15px;
      background-color: white;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #girl{
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    p{
      padding:15px;
    font-size:16px;
    color:hsl(224, 23%, 55%);
  }
  h2,#title{
    color:hsl(223, 47%, 23%);
  }
  #musicBar{
    background-color:hsl(225, 100%, 98%);
    border-radius: 12px;
    margin:auto;
    padding:8px;
    width:300px;
  }
  table{
    width:300px;
  }
  #subPay{
    background-color: hsl(245, 75%, 52%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:white;
    border-radius: 12px;
    margin:auto;
    padding:10px;
    width:320px;
    cursor:pointer;
    font-weight: bold;
    font-size:14px;
  }
  #cancelOrder{
    text-decoration: none;
    color:hsl(224, 23%, 55%);
    font-weight: bold;
    font-size:13px;
  }
  #dollar{
    color:hsl(224, 23%, 55%);
  }
  #change{
   color: hsl(245, 75%, 52%);
   font-weight:bold;
    float:right;
    font-size:14px;
  }
  #money{float:left;}
  #title{
    font-weight:bold;
    font-size:16px;
  }
  a:hover{
    text-decoration: none;
  }
